{{ form_start(form) }}
    {{ form_widget(form) }}
    <label for="verifyKey">Verify Key</label>
    <input id="verifyKey" type="text" name="verifyKey">
    <input type="submit">
{{ form_end(form) }}
