<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader">
                            <tr>
                                <td align="center" valign="top">
                                    {% block subject %}HEADER{% endblock %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody">
                            <tr>
                                <td align="center" valign="top">
                                    <img src="{{ qrcode }}">
                                </td>
                                <td align="center" valign="top">
                                    If you want to use this qrcode go download google authenticator.
                                    Find it in:
                                        <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">
                                            <img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png">
                                        </a>
                                        <a href="https://itunes.apple.com/fr/app/google-authenticator/id388497605?mt=8">
                                            <img src="http://www.reliancechurch.org/wp-content/uploads/2017/01/Get-it-on-iTunes.png">
                                        </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter">
                            <tr>
                                <td align="center" valign="top">
                                    Under MIT Licences
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>